    <!--Modal para mostrar detalles de figura-->
    <div class="modal-header">
        <h4 class="modal-title text-center v-100">{{ figura.titulo }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 imgagenFigura">
                <img style="height: 400px;" class="imagenFigura" [src]="'../../../assets/'+figura.photo+'.jpg'" [alt]="figura.titulo">
            </div>
            <div class="col-6 infoPelicula">
                <!-- Detalles de la figura -->
                <p class="h-50 sinopsisPelicula">{{ figura.descripcion }}</p>
                <div class="detallesPelicula">
                    <p>Cantidad: {{ figura.cantidad }}</p>
                    <p>Estilo: {{ figura.estilo }}</p>
                    <p>Marca: {{ figura.marca }}</p>
                </div>
                <div class="d-flex justify-content-around w-100">
                    <button class="btn btn-success" (click)="agregarAlCarrito(figura)">Agregar al Carrito</button>
                </div>
                <!-- detalles -->
            </div>
        </div>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cerrar</button>
    </div>