<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Iniciar Sesión</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo electrónico" [(ngModel)]="email" name="email" required>
          </mat-form-field>
          
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
          </mat-form-field>
          
          <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button> &nbsp;
          <a routerLink="/registro">¿No tienes una cuenta?</a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  