<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Figuras</title>
</head>
<body>
    <header>
        <img class="logo" src="../../../assets/Logo.png" alt="Logo">
        <nav class="d-flex align-items-center">
            <a style="text-decoration: none;" routerLink="/administrador">Almacen Figuras</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
            <a style="text-decoration: none;" routerLink="/iniciar-sesion">Cerrar Sesión</a>
        </nav>
    </header>

    <div class="tituloPeliculas">
        <h2>Figuras</h2>
    </div>
    <section class="main-content">
        <!--Lista de Series-->
        <div class="movie-list">
            <div class="movie-card" *ngFor="let figura of listaFiguras;">
                <button class="peliss" type="button" (click)="abrirModal(figura)">
                <img class="pelis2" [src]="'../../../assets/'+figura.photo+'.jpg'" [alt]="figura.titulo"></button>
            </div>
        </div>
    </section>

    
<!-- Carrito de compras -->
<section class="cart-content">
    <div class="tituloPeliculas">
        <h2>Carrito</h2>
    </div>
    <ul>
        <li *ngFor="let item of carrito">
            {{ item.titulo }} - Cantidad: {{ item.cantidad }}
            <button (click)="eliminarDelCarrito(item)">Eliminar</button>
        </li>
    </ul>
</section>

<footer>
    "Explora un mundo de creatividad y pasión en nuestra tienda de figuras <br>
    ¡Bienvenido a tu destino para dar vida a tus colecciones!"
    <img src="">
</footer>
<div class="redes">
<img class="logo" src="../../../assets/lf.png" alt="Logo" width="100px" height="100px">
<img class="logo" src="../../../assets/li.png" alt="Logo" width="100px" height="100px">
<img class="logo" src="../../../assets/lt.webp" alt="Logo" width="100px" height="100px">
</div>
    </body>

</html>