*{
    color: rgb(255, 255, 255);
}
body {
    font-family: Arial, sans-serif;
    background-image: url('https://images5.alphacoders.com/133/1332708.png');
    min-height: 100vh;
    align-items: center;
}
header {
    background-image: url('https://images5.alphacoders.com/133/1332708.png');
  /*  background-color: rgb(54, 191, 212);*/
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    align-items: center;
    height: 100px;
    width: 150px;
    border-radius: 1%;
}

/* Seccion photo pelicula destacada  */
.fondo {
    position: relative;
}

.fondo-inner {
    /* Estilos adicionales para el contenido interno */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-movie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-movie img {
    max-width: 300px;
    height: auto;
}

.info {
    width: 500px;
    text-align: justify;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.sin{
    margin: 5px;
}

.pelis{
    height: auto;
    width: 450px;
    margin-left: 400px;
    z-index: 1;
}
/* Fin de seccion pelicula destacada */
/*  Seccion catalogo de peliculas */
.tituloPeliculas{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloPeliculas h2{
    font-size: 40px;
    font-weight:lighter;
}

.main-content {
    padding: 20px;
    background-image:"../../../assets/f1.jpg"
}

.movie-list {
    margin: 0 auto;

    display:inline-flex;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
}

.movie-card {
    width: 200px;
    aspect-ratio: 1/3;
    object-fit:fill
}
.movie-card img{
    max-width: 100%;
    height: 300px;
    transition: transform 0.2s ease;
}

.movie-card img:hover{
    transform: scale(1.1);
}

.peliss{
    background-color: #78727276;
    border: none;
}

.pelis2{
    height: 250px;
}

footer {
    background-color: #6362628d;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.redes {
    text-align: center;
}

