<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
</head>
<body>

  <nav>
    <a href="#"><img src="#" alt="logo"></a>
  </nav>
  <div class="form-wrapper">
    <h2>Registrate</h2>
    <form action="#">
      <div class="form-control">
        <input type="text" [(ngModel)]="email" name="emailR" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <label>Correo</label>
      </div>
      <div class="form-control">
        <input type="password" [(ngModel)]="password" name="pass1" required>
        <label>Crea una contraseña</label>
      </div>
      <div class="form-control">
        <input type="password" [(ngModel)]="comprobacionPassword" name="pass2" required>
        <label>Repetir contraseña</label>
      </div>
      <button (click)="registrarUsuario()" type="submit">Registrate</button>
      <p>¿Ya tienes cuenta? <a routerLink="/iniciar-sesion">Inicia Sesión</a></p>
    </form>
  </div>
</body>
</html>
